<div class="mk">
<% @jobs.each do |job|%>
<% job.applies.each do |apply| %>
<table class="table table-hover">

<tbody>

<td><%= job.title %></td>

<td>
  <%= apply.user.name %>
</td>

<td>
  <% if apply.status == 1 %>
      <%= '承認済み' %>
  <% else %>
      <%= link_to '承認する', approve_apply_path(id: apply.id) %>
  <% end %>
</td>

<td id="WP_checkoutBox"><%= link_to 'お支払い', payment_index_path , method: :get %></td>

</tbody>

</table>


  <% end %>
<% end %>

</div>