<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @apply.user.name %>
</p>

<p>
  <strong>Job:</strong>
  <%= @apply.job.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @apply.status %>
</p>



<%= link_to 'Edit', edit_apply_path(@apply) %> |
<%= link_to 'Back', applies_path %>
