<p id="notice"><%= notice %></p>

<p>
  <strong>From user:</strong>
  <%= @message.from_user_id %>
</p>

<p>
  <strong>To user:</strong>
  <%= @message.to_user_id %>
</p>

<p>
  <strong>Text:</strong>
  <%= @message.text %>
</p>

<p>
  <strong>Job:</strong>
  <%= @message.job_id %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
