<% if(job.title) %>

  <tbody>
      <tr>
        <td><%= job.status %></td>
        <td><%= job.fee %></td>
        <td><%= job.user_id %></td>
        <td><%= job.title %></td>
        <td><%= job.introduction %></td>
        <td><%= job.deadline %></td>
        <td><%= job.place %></td>
     </tr>
  </tbody>
</table>

<% end %>