<h1>仕事一覧</h1>


<table class="table table-hover">
  <thead>
    <tr>
      <th>報酬額</th>
      <th>依頼者名</th>
      <th>イベント名</th>
      <th>作業内容</th>
      <th>いつ？</th>
      <th>どこで？</th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.fee %></td>
        <td><%= link_to job.user.name, user_path(job.user) %></td>
        <td><%= job.title %></td>
        <td><%= job.introduction %></td>
        <td><%= job.deadline %></td>
        <td><%= job.place %></td>
        <td class="btn btnMore btn-sm"><%= link_to 'もっと見る', job %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @jobs %>


