<h1>仕事一覧</h1>

        <div class="jobBox">
          <div><p class="whoClient">bitcoin研究会<p></div>
          <div class="jobContentLeft">
            <div>ユーザーネーム</div>
            <div>ユーザーの画像</div>
          </div><!-- jobContentLeft -->
          <div class="jobContentRight">
             <div>報酬</div>
             <div>仕事内容</div>
             <div>申請期限</div>
             <div>場所</div>
          <div>もっと見る</div>
          </div><!-- jobContentRight -->
        </div><!-- /.jobBox -->


<!-- <table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>金額</th>
      <th>依頼者名</th>
      <th>仕事内容</th>
      <th>期限</th>
      <th>場所</th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.status %></td>
        <td><%= job.fee %></td>
        <td></td>
        <td><%= job.title %></td>
        <td><%= job.deadline %></td>
        <td><%= job.place %></td>
<td></td>
        <td class="btn btnMore"><%= link_to 'もっと見る', job %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @jobs %>


