<h1>仕事一覧</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th>金額</th>
      <th>依頼者名</th>
      <th>仕事の詳細</th>
      <th>期限</th>
      <th>場所</th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.status %></td>
        <td><%= job.fee %></td>
        <td><%= job.user_id %></td>
        <td><%= job.title %></td>
        <td><%= job.introduction %></td>
        <td><%= job.deadline %></td>
        <td><%= job.place %></td>
        <td><%= link_to 'もっと見る', job %></td>
        <td><%= link_to '仕事内容を編集する', edit_job_path(job) %></td>
        <td><%= link_to '仕事を削除する', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @jobs %>


