<h1>Listing jobs</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Fee</th>
      <th>User</th>
      <th>Title</th>
      <th>Introduction</th>
      <th>Deadline</th>
      <th>Place</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.status %></td>
        <td><%= job.fee %></td>
        <td><%= job.user_id %></td>
        <td><%= job.title %></td>
        <td><%= job.introduction %></td>
        <td><%= job.deadline %></td>
        <td><%= job.place %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
