<div class="PT100">
<p id="notice"><%= notice %></p>



<table class="table table-hover">
  <thead>
    <tr>
        <td>金額</td>
        <td>内容</td>
        <td>詳細</td>
        <td>期限</td>
        <td>場所</td>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @job.fee %></td>
        <td><%= @job.title %></td>
        <td><%= @job.introduction %></td>
        <td><%= @job.deadline %></td>
        <td><%= @job.place %></td>
      </tr>
  </tbody>
</table>

<div>
<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
<div class="original-tag"><%= link_to tag.name, tag_path(tag.id) %>
</div>
<% end %>
<div class="btn btn-success applybtn">
<% if current_user.apply?(@job) %>
    <%= '申請中' %>
<% else %>
    <%= link_to '申請する', applies_path(job_id: @job.id), method: :post %>
<% end %>
</div>

<div class="btn btn-success applybtn">
<%= link_to '戻る', jobs_path %>
</div>

</div>
</div>