<p id="notice"><%= notice %></p>

<p>
  <strong>Fee:</strong>
  <%= @job.fee %>
</p>


<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @job.introduction %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @job.deadline %>
</p>

<p>
  <strong>Place:</strong>
  <%= @job.place %>
</p>

<div>
<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
<div class="original-tag"><%= link_to tag.name, tag_path(tag.id) %>
</div>
<% end %>
<div>
<% if current_user.apply?(@job) %>
    <%= '申請中' %>
<% else %>
    <%= link_to '申請する', applies_path(job_id: @job.id), method: :post %>
<% end %>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
