<p id="notice"><%= notice %></p>

<p>
  <strong>金額</strong>
  <%= @job.fee %>
</p>


<p>
  <strong>内容</strong>
  <%= @job.title %>
</p>

<p>
  <strong>詳細</strong>
  <%= @job.introduction %>
</p>

<p>
  <strong>期限</strong>
  <%= @job.deadline %>
</p>

<p>
  <strong>場所</strong>
  <%= @job.place %>
</p>

<div>
<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
<div class="original-tag"><%= link_to tag.name, tag_path(tag.id) %>
</div>
<% end %>
<div class="btn btn-success applybtn">
<% if current_user.apply?(@job) %>
    <%= '申請中' %>
<% else %>
    <%= link_to '申請する', applies_path(job_id: @job.id), method: :post %>
<% end %>
</div>

<%= link_to '戻る', jobs_path %>
