<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>年齢</th>
      <th>紹介</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.age %></td>
        <td><%= user.introduction %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'おいおい、本気かよ？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>