<p id="notice"><%= notice %></p>

<p>
  <strong>名前</strong>
  <%= @user.name %>
</p>

<p>
  <strong>プロフィール画像</strong>
  <%= image_tag(@user.image) %>
</p>

<p>
  <strong>年齢</strong>
  <%= @user.age %>
</p>

<p>
  <strong>紹介</strong>
  <%= @user.introduction %>
</p>

<%= link_to 'レビューを書く', new_review_path(user_id: @user.id) %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
