<div class="userSt">

<div class="mbSetA">
<div class="imageShift">
  <strong><span class="MSP">
  <%= image_tag(@user.image) %>
</span>
  <%= @user.name %>
</strong>

</p>


<p>
  <strong>年齢</strong>
  <%= @user.age %>
</p>

<p>
  <strong>紹介</strong>
  <%= @user.introduction %>
</p>

<span class="btn slideF"><%= link_to 'レビューを書く', new_review_path(user_id: @user.id) %></span>

<div class="btn marginTT"><%= link_to 'Back', users_path %></div>
</div>

<table class="">
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.score %></td>
        <td><%= review.text %></td>
      </tr>
</table>


    <% end %>
