<div class="row mm">
<div class="span6 offset3">
<%= form_for(Review.new(reviewing_id: current_user.id, reviewed_id: user.id)) do |f| %>

  <div class="field">
  <%= f.hidden_field :reviewing_id %>
  </div>

  <div class="field">
  <%= f.hidden_field :reviewed_id %>
  </div>

  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>

  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

</div>
</div>