<p id="notice"><%= notice %></p>

<p>
  <strong>From user:</strong>
  <%= @review.from_user_id %>
</p>

<p>
  <strong>To user:</strong>
  <%= @review.to_user_id %>
</p>

<p>
  <strong>Score:</strong>
  <%= @review.score %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
